<div class="container">
  <div class="col-md-8 offset-2" style="margin-top: 20px">
    <div class="alert alert-danger"  *ngIf="mode==1">
      Invalid username or password
    </div>
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="form-group">
        <label >Username</label>
        <input type="text" class="form-control" id="username" name="username" ngModel="" placeholder="Username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel=""  placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
